@page
@model DenchikDance.Pages.BlogModel
@{
    
}
<form method="post">
    <input type="file" name="FormFile" >
    <button type="submit" value="create"></button>
</form>


<div class="text-center">
    <section class="breadcrumbs-area breadcrumb-bg-1 ptb-160 port bread-card solid-color">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="breadcrumbs">
                        <h2 class="page-title">My Blog</h2>
                        <ul>
                            <li>
                                <a class="active" href="#">Home</a>
                            </li>
                            <li>My Blog</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="blog-area border-top pt-100 pb-50">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Post)
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="single-blog text-center mb-40">
                            <div class="hover-style blog-icon">
                                <a href="blog-details.html">
                                    <img src="img/blog/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-details text-center">
                                <h3><a href="blog-details.html">10 December 2017</a></h3>
                                <p>@Html.DisplayFor(modelItem => item.Text)</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
